// select 选择框样式
.select-contain {
    display: flex;
    justify-content: start;
    align-items: baseline;
    color: @color-94AADC;
    padding-top: @padding-top-sm;
    .ivu-select {
        width: 100%;
    }
}
// table 样式
.table-area {
    width: 100%;
    // border: 1px solid #dcdee2;
    border-bottom: none;
    width: 100%;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
    color: @color-fff;
    th {
        font-weight: 600;
    }
    th:first-child {
        border-bottom: 1px solid @color-21509F;
        // background: #f8f8f9;
    }
    th + th {
        // border-left: 1px solid #dcdee2;
        border-bottom: 1px solid @color-21509F;
        // background: #f8f8f9;
    }
    td:first-child {
        // border-bottom: 1px solid #dcdee2;
    }
    td + td {
        height: 30px;
        // border-left: 1px solid #dcdee2;
        // border-bottom: 1px solid #dcdee2;
    }
}

// 每个页面的title
.contain-title {
    color: @color-fff;
    font-size: @font-size-md;
    text-align: left;
}
.contain-subTitle {
    color: @color-fff;
    font-size: 18px;
    text-align: left;
    padding: 10px 0;
    span {
        color: @color-94AADC;
        font-size: @font-size-sm;
    }
    i {
        padding-right: 5px;
    }
}

// button样式
.button-custome1 {
    background: @color-21509F!important;
    border: none!important;
    color:  @color-fff!important;
    
}
.button-custome1:hover {
    background: @color-0543ad!important;
}
.button-custome2 {
    background: @color-626F8E!important;
    border: none!important;
    color:  @color-fff!important;
    
}
.button-custome2:hover {
    background: @color-454e65!important;
}
.button-custome3 {
    background: @color-FA4B46!important;
    border: none!important;
    color:  @color-fff!important;
    
}
.button-custome3:hover {
    background: #fa4b46b8!important;
}

// sub-title 小标题样式
.sub-title {
    color: @color-fff;
    .color {
        display: inline-block;
        padding-right: 5px;
        + .color {
            padding-left: 5px;
        }
    }
    .color1 {
        color: @color-E6AA1E;
    }
    .color2 {
        color: @color-45C937;
    }
    .color3 {
        color: @color-FA4B46;
    }
    .color4 {
        color: @color-01DAF9;
    }
}
// set-box 样式
.set-box {
    color: @color-94AADC;
    .title {
        text-align: right;
    }
    .remark {
        text-align: left;
        padding-left: 10px;
        line-height: 16px;
        i {
            display: inline-block;
            padding-right: 5px;
        }
    }
}