.menu-box.ivu-menu.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item, .menu-box.ivu-menu.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title {
    color: @font-color;
}
.menu-box.ivu-menu.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active, .menu-box.ivu-menu.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active:hover {
    color: @font-color-hover;
}
.menu-box.ivu-menu.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item.ivu-menu-item-active::before {
    content: '';
    width: 2px;
    background: #01DAF9;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.menu-box.ivu-menu.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item:hover {
    color: @font-color-hover;
}
.menu-box.ivu-menu.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item.ivu-menu-item-active {
    background: @bg-hover;
    color: @font-color-hover;
}